*{
    margin: 0;
}
body{
    background-color: whitesmoke; 
}
.h2eader{
    width: 100%;
    height: 80px;
    background-color: #006491;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    top: 0px;
    box-shadow: 0px 0px 10px black;
}
.continue{
    width: 150px;
    height: 50px;
    background-color: rgb(221, 4, 4);
    border: 1px solid rgb(192, 4, 4);
    border-radius: 4px;
    color: white;
    margin-top: 40px;
}
.continue:hover{
    transition: .4s;
    background-color: rgb(178, 7, 7);
}
.riri{
    width: 100%;
    height: 630px;
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.wen{
    margin-top: 10px;
}
.m2enu{
    width:70%;
    height:100%;
    display: flex;
    justify-content: space-between;
}




/* --------------pizza-logo--------------- */
.d2iv1{
    width:430px;
    height:100%;
    display: flex;
    /* justify-content: space-between; */
}
.p2izza-img{
    height:100%;
    width:100%;
    object-fit: contain;
}
.sa{
    width: 400px;
    display: flex;
    color: white;
    font-family: agency fb;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}
.sa a{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.sa a:nth-of-type(2){
    color: white;
    text-decoration: none;
}
.sa a:nth-of-type(4){
    color: white;
    text-decoration: none;
}
.sa a:hover{
    background-color: #005177;
    transition: .4s;
}
.div2{
    width:250px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up{
    width:170px;
    height: 100%;
    background-color:#005177;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.not_me{
    font-weight: normal;
    font-size: 15px;
}
.contact{
    width:40px;
    height:60px;
    object-fit: contain;
    cursor: pointer;
}

.sign-in{
    font-family: agency fb;
    font-size:20px;
    font-weight: bolder;
    cursor: pointer;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart{
    width: 60px;
    height:60px;
    object-fit:contain;
    cursor: pointer;
}
.cart_{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: agency fb;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
}


/* ----------------sign-up box-------------- */
.d2iv2{
    width:250px;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s2ign-up{
    width:170px;
    height: 100%;
    background-color:#005177;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.c2ontact{
    width:40px;
    height:60px;
    object-fit: contain;
    cursor: pointer;
}

.s2ign-in{
    font-family: agency fb;
    font-size:20px;
    font-weight: bolder;
    cursor: pointer;
    color:white;
}

.c2art{
    width: 60px;
    height:60px;
    object-fit:contain;
    cursor: pointer;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    justify-content: center;
}
.holder{
    display: flex;
    width: 80%;
    /* background-color: aquamarine; */
    /* justify-content: center; */
    /* height: 100vh; */
    margin-bottom: 15px;
}
.content{
    width: 80%;
    background-color: white;
    /* display: flex; */
    height: 85%;
}
.first-div{
    width: 80%;
    height: 30px;
    background-color:#006491;
    padding: 10px;
    display: flex;
    align-items: center;
}
.wrapper-of-first-div{
    display: flex;
    justify-content: center;
}
.text_one{
    color: white;
}
.icons{
    display: flex;
}
.delivery-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: cornflowerblue;
    margin-left: 20px;
    margin-top: 20px;
}
.text_two{
    margin-top: 60px;
    margin-left: 10px;
}
.carryout-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: cornflowerblue;
    margin-left: 20px;
    margin-top: 20px;
}
.text-holder1{
    display: flex;
    width: 220px;
    /* background-color: rebeccapurple; */
    justify-content: space-between;
    margin-left: 40px;
}
span{
    color: red;
}
.form-holder{
    width: 100%;
    height: 50%;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
}
.form{
    width: 90%;
    height: 55%;
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stroke{
    color: black;
}
.drop_down{
    width: 50%;
}
label{
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    width: 300px;
    /* background-color: aquamarine; */
}
.ash{
    background-color: #d2cece;
    border: 0.5px solid rgb(168, 166, 166);
}
.delivery{
    height: 70px;
}
.bottom-text1{
    margin-right: 250px;
}
.bottom{
    font-style: italic;
}
.black{
    font-weight: bold;
    color: black;
}
.anotherpart{
    display: flex;
    justify-content: flex-start;
    /* background-color: blueviolet; */
    width: 100%;
    margin-right: 100px;
}
button{
    color: white;
    background-color: rgb(247, 3, 3);
    width: 200px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
   

}
button:hover{
    color: white;
    background-color:rgb(172, 9, 9);
}
.button_click{
    display: flex;
    align-items: center;
    justify-content: center;
}
.continue{
    font-weight: bolder;

}


/* ---------------footer-body------------- */
.f1ooter{
    background-color:lightgray;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.f1irst{
    width:70%;
    height: 50px;
    display: flex;
}

.b1ig-box{
    width:40%;
    display: flex;
    font-family: agency fb;
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    justify-content: space-around;
}

.i1nt{
    cursor: pointer;
}
.p1iz{
    cursor: pointer;
}
.f1aq{
    cursor: pointer;
}
.c1on{
    cursor: pointer;
}



.s1econd{
    width:70%;
    height:70px;
    display: flex;
    align-items: center;
}

.f1b{
    height:70%;
    width:80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.f1ace-book{
    height:25px;
    width:25px;
    background-image: url("../icons/facebook-blue.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.f1ace-book:hover{
    cursor: pointer;
    background-image: url("../icons/facebook-red.png");
}



.t1witter{
    height:25px;
    width:25px;
    margin-top: 5px;
    background-image: url("../icons/twitter-blue.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.t1witter:hover{
    cursor: pointer;
    background-image: url("../icons/twitter-red.png");
}

.v1erve{
    height:90%;
    width:60%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.m1astercard{
    height: 50px;
    width:80px;
}
.v1isa{
    height:60px;
    width:120px;
}
.v1erve1{
    height: 50px;
    width:100px;
}
.i1nterswitch{
    height:70px;
    width: 200px;
    margin-left: 5px;
    margin-top: 5px;
}


.t1hird{
    width:70%;
    height:170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.t1xt1{
    width:100%;
    height:65px;
    font-family:agency fb;
    color:gray;
    font-weight: bolder;
}

.t1xt2{
    width:100%;
    height:80px;
    font-family: agency fb;
    color:gray;
    font-weight: bolder;
}
.c1eal{
    height: 900px;
    width: 100%;
}